<body>
  <app-header></app-header>
    <div class="signup-form">
        <div class="container">
          <div class="header">
            <h1 >Register company</h1>
            
            <p>Interact-hub</p>
          </div>
          <form [formGroup]="registerCompany" (ngSubmit)="onSubmit()">
            <div class="input">
              <i class="fa-solid fa-user"></i>
              <input type="text" placeholder="Name" formControlName="name"  />
            </div>
            
            <div class="input" >
              <i class="fa-solid fa-user"></i>
              <input type="text" placeholder="Email" formControlName="email" />
            </div>
           
            <div class="input">
              <i class="fa-solid fa-user"></i>
              <input type="text" placeholder="Phone" formControlName="phone" />
            </div>
            <input class="signup-btn" type="submit" value="Register"/>
            
          </form>
          
    
        </div>
      </div>
    </body>