
.content-wrapper {
    display: flex;
    flex: 1; 
    max-width: 1900px; 
    width: 100%; 
    padding: 20px; 
  }
  
  .left-sidebar {
    flex: 2; 
    padding: 20px; 
  }
  
  .main-content {
    flex: 3; 
    padding: 40px; 
  }
  .right-sidebar {
    flex: 2; 
    padding: 20px; 
  }