<header>
    <section class="header-content">
        <h1 class="brand-logo">
            <a (click)="navigateTo('')" class="logo" style="cursor: pointer;">
                <i class="fa-solid fa-globe"></i>
                <span class="logo-text">Hub</span>
            </a>
        </h1>
        <nav role="navigation">
            <ul class="navigation__list-container" data-visible="true">
                
                <li class="nav__item" style="cursor: pointer;">
                    <a class="nav__link" (click)="navigateTo('login')">Logout</a>
                </li>
                <li class="nav__item" style="cursor: pointer;">
                    <a class="nav__link" (click)="navigateTo('myprofile')">My profile</a>
                </li>
                <li class="nav__item" style="cursor: pointer;">
                    <a class="nav__link" (click)="navigateTo('')">Home</a>
                </li>
                
                <li class="nav__item" style="cursor: pointer;">
                    <a class="nav__link" href="#">Job offers</a>
                </li>
            </ul>
        </nav>
    </section>
</header>