<div class="tweet-wrap" *ngFor="let post of posts">
    <div class="tweet-header">
      <img src="https://as1.ftcdn.net/v2/jpg/01/18/01/98/1000_F_118019822_6CKXP6rXmVhDOzbXZlLqEM2ya4HhYzSV.jpg" alt="" class="avator">
      <div class="tweet-header-info">
       {{post.username}}<span></span><span></span>
        <p> {{post.content}}</p>
        
      </div>
      
    </div>
    <div class="tweet-img-wrap">
      <img  alt="" class="tweet-img">
    </div>
    <div class="tweet-info-counts">
   
      

      <div class="retweets" (click)="likePost(post)">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
        <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" />
      </svg>
      <div class="retweet-count"></div>
      <div class="retweets"*ngIf="post.changes">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
          <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" fill="red" />
        </svg>
      </div>
      
    </div>
      </div>